@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 min-height: 100vh;
}

.contain{
  color: var(--textColor);
  background-color: var(--bg);
}

.dark{
  --bg:#131314;
  --bgSecondary : #1e1f20;
  --textColor : #444746;  
  --softBg : #1f273a; 
  --softTextColor : #a6a6a6
}

.light{
  --bg : #ffffff;
  --bgSecondary :#f1f5f9 ;
  --textColor :#000;
  --softBg : #f0f0f0;
  --softTextColor : #626262
}

